In [1]:
%matplotlib inline
import pandas as pd
import sqlalchemy
import matplotlib.pyplot as plt
c = sqlalchemy.create_engine("mysql+pymysql://funds:funds888@localhost/funds?charset=utf8")

In [2]:
# c支基金有最新信息了
# 3071
df = pd.read_sql('select count(*) as c from funds_update', c)
df

      c
0  4744

In [3]:
# c支基金有历史数据了
# 2081
df = pd.read_sql('select count(*) as c from (select distinct funds_id from funds_historical_price) a', c)
df

      c
0  5312