In [58]:
import pandas as pd
import os
from IPython.display import display,HTML
from ipywidgets import IntProgress

In [82]:
sh_datapath = '/home/liusida/ipython/fund_scanner/data/a_stock/XSHG/'
sz_datapath = '/home/liusida/ipython/fund_scanner/data/a_stock/XSHE/'

In [113]:
def read_price_from_files():
    df_price_total = None

    df_filelist_sh = pd.DataFrame(os.listdir( sh_datapath ))
    df_filelist_sh = df_filelist_sh.sort_values(by=0, ascending=True)
    df_filelist_sh = df_filelist_sh[df_filelist_sh[0].str.endswith('.csv')]
    df_filelist_sz = pd.DataFrame(os.listdir( sz_datapath ))
    df_filelist_sz = df_filelist_sz.sort_values(by=0, ascending=True)
    df_filelist_sz = df_filelist_sz[df_filelist_sz[0].str.endswith('.csv')]
    
    pg = IntProgress(min=0, max=min(len(df_filelist_sh)+len(df_filelist_sz),10000), value=0)
    display(pg)

    i=0
    for file in df_filelist_sh.iterrows():
        if i>10000:
            break
        df = pd.read_csv(os.path.join(sh_datapath, file[1][0]), encoding='GBK')
        name = str(df.loc[0,'股票名称'])
        code = df.loc[0,'股票代码'].replace('sh', '')
        column_name = code + '\n' + name
        df_price = df.loc[:,['交易日期','前复权价']]
        df_price['交易日期'] = pd.to_datetime(df_price['交易日期'])
        df_price = df_price.set_index('交易日期')
        df_price.columns = [column_name]
        if df_price_total is None:
            df_price_total = df_price
        else:
            df_price_total = pd.concat([df_price_total, df_price], axis=1)
        i=i+1
        pg.value=i
        pg.description = column_name

    for file in df_filelist_sz.iterrows():
        if i>100000:
            break
        df = pd.read_csv(os.path.join(sz_datapath, file[1][0]), encoding='GBK')
        name = str(df.loc[0,'股票名称'])
        code = df.loc[0,'股票代码'].replace('sz', '')
        column_name = code + '\n' + name
        df_price = df.loc[:,['交易日期','前复权价']]
        df_price['交易日期'] = pd.to_datetime(df_price['交易日期'])
        df_price = df_price.set_index('交易日期')
        df_price.columns = [column_name]
        if df_price_total is None:
            df_price_total = df_price
        else:
            df_price_total = pd.concat([df_price_total, df_price], axis=1)
        i=i+1
        pg.value=i
        pg.description = column_name
        
    df_price_total.to_pickle('a_stock_price_total.pickle')
    pg.description = '完成'
    return df_price_total

def read_price_from_pickle():
    df_price_total = pd.read_pickle('a_stock_price_total.pickle')
    return df_price_total

df = read_price_from_files()
#df = pd.read_csv(os.path.join(sz_datapath, 'sz002752.csv'), encoding='GBK')

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 48 columns):
股票代码         495 non-null object
股票名称         495 non-null object
交易日期         495 non-null object
新浪行业         495 non-null object
新浪概念         0 non-null float64
新浪地域         495 non-null object
开盘价          495 non-null float64
最高价          495 non-null float64
最低价          495 non-null float64
收盘价          495 non-null float64
后复权价         495 non-null float64
前复权价         495 non-null float64
涨跌幅          495 non-null float64
成交量          495 non-null float64
成交额          495 non-null float64
换手率          495 non-null float64
流通市值         495 non-null float64
总市值          495 non-null float64
是否涨停         495 non-null float64
是否跌停         495 non-null float64
市盈率TTM       407 non-null float64
市销率TTM       0 non-null float64
市现率TTM       407 non-null float64
市净率          407 non-null float64
MA_5         495 non-null float64
MA_10        495 non-null float64
MA_20        495 non-null float64
MA_30        495 non-null float64
MA_60        495 non-null float64
MA金叉死叉       307 non-null object
MACD_DIF     495 non-null float64
MACD_DEA     495 non-null float64
MACD_MACD    495 non-null float64
MACD_金叉死叉    28 non-null object
KDJ_K        495 non-null float64
KDJ_D        495 non-null float64
KDJ_J        495 non-null float64
KDJ_金叉死叉     75 non-null object
布林线中轨        475 non-null float64
布林线上轨        456 non-null float64
布林线下轨        456 non-null float64
psy          484 non-null float64
psyma        479 non-null float64
rsi1         494 non-null float64
rsi2         494 non-null float64
rsi3         494 non-null float64
振幅           495 non-null float64
量比           495 non-null float64
dtypes: float64(40), object(8)
memory usage: 185.7+ KB

In [95]:
df

,600000 浦发银行,600001 邯郸钢铁,600002 齐鲁退市,600003 ST东北高,600004 白云机场,600005 武钢股份,000001 平安银行,000002 万科Ａ,000003 PT金田Ａ,000004 国农科技,000005 世纪星源
交易日期,,,,,,,,,,,
1991-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.763540
1991-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.745935
1991-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.728329
1991-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.719527
1991-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.706811
1991-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.077324,1.693117
1991-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.056913,1.684314
1991-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.675512
1991-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.016089,1.666709
1991-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.642257
1991-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.934442,1.634431
1991-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.914030,1.626606
1991-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.618780
1991-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.139605,NaN,3.811967,1.587481
1991-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.138934,NaN,3.794108,1.579656
1991-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.776249,1.571831
1991-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.140371,NaN,3.758388,1.595306
1991-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.141041,NaN,3.776248,1.603131
1991-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.141711,NaN,3.794109,1.610956
1991-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.142382,NaN,3.811968,1.610956
1991-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.143052,NaN,4.523842,1.603132
1991-02-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.144488,NaN,3.758385,1.587482
1991-02-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.144297,NaN,3.740525,1.579657
1991-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.146020,NaN,3.722664,1.571831
1991-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.146786,NaN,3.704803,1.564007
1991-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.146786,NaN,3.669081,1.548357
1991-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.146020,NaN,3.651220,1.540532
1991-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.145254,NaN,3.633358,1.532708
1991-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.144488,NaN,3.615497,1.524883
1991-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.143722,NaN,3.597636,1.517059
...,...,...,...,...,...,...,...,...,...,...,...
2017-06-20,12.29,NaN,NaN,NaN,11.949635,NaN,8.986983,21.030000,NaN,27.030000,5.450000
2017-06-21,12.34,NaN,NaN,NaN,12.287959,NaN,9.016545,21.040000,NaN,26.570000,5.380000
2017-06-22,12.57,NaN,NaN,NaN,12.064665,NaN,9.115087,21.880000,NaN,26.050000,5.330000
2017-06-23,12.64,NaN,NaN,NaN,12.490954,NaN,9.115087,24.070000,NaN,25.420000,5.270000
2017-06-26,12.64,NaN,NaN,NaN,12.633051,NaN,9.164357,26.480000,NaN,26.130000,5.310000
2017-06-27,12.70,NaN,NaN,NaN,12.450355,NaN,9.223482,25.540000,NaN,25.980000,5.280000
2017-06-28,12.79,NaN,NaN,NaN,12.227061,NaN,9.292461,25.000000,NaN,25.950000,5.230000
2017-06-29,12.76,NaN,NaN,NaN,12.389457,NaN,9.292461,25.160000,NaN,25.550000,5.250000
2017-06-30,12.65,NaN,NaN,NaN,12.490954,NaN,9.253045,24.970000,NaN,25.650000,5.240000
2017-07-03,12.56,NaN,NaN,NaN,13.052574,NaN,9.262899,24.570000,NaN,25.680000,5.260000
2017-07-04,12.55,NaN,NaN,NaN,13.194670,NaN,9.203774,23.860000,NaN,25.390000,5.170000
2017-07-05,12.62,NaN,NaN,NaN,13.208203,NaN,9.233336,24.540000,NaN,25.400000,5.210000
2017-07-06,12.66,NaN,NaN,NaN,13.302934,NaN,9.262899,24.220000,NaN,25.290000,5.180000
2017-07-07,12.60,NaN,NaN,NaN,13.458563,NaN,9.331878,24.660000,NaN,25.210000,5.190000
2017-07-10,12.53,NaN,NaN,NaN,13.133772,NaN,9.450128,24.430000,NaN,24.970000,5.220000
2017-07-11,12.80,NaN,NaN,NaN,13.255569,NaN,10.100501,24.750000,NaN,24.650000,5.270000
2017-07-12,12.86,NaN,NaN,NaN,13.302934,NaN,10.189189,25.460000,NaN,24.500000,5.140000
2017-07-13,13.27,NaN,NaN,NaN,13.330000,NaN,10.741021,24.430000,NaN,24.610000,5.150000
2017-07-14,13.59,NaN,NaN,NaN,13.710000,NaN,10.741021,24.590000,NaN,24.150000,5.090000
2017-07-17,13.76,NaN,NaN,NaN,13.330000,NaN,10.652334,NaN,NaN,21.740000,4.730000
2017-07-18,13.55,NaN,NaN,NaN,13.380000,NaN,10.888833,25.300000,NaN,21.070000,4.810000
2017-07-19,13.69,NaN,NaN,NaN,13.620000,NaN,10.928250,25.140000,NaN,21.360000,4.880000
2017-07-20,13.62,NaN,NaN,NaN,14.100000,NaN,10.810000,25.350000,NaN,21.510000,4.920000
2017-07-21,13.45,NaN,NaN,NaN,14.050000,NaN,10.890000,24.780000,NaN,21.500000,4.910000
2017-07-24,13.67,NaN,NaN,NaN,14.100000,NaN,10.950000,23.800000,NaN,21.370000,4.920000
2017-07-25,13.51,NaN,NaN,NaN,13.900000,NaN,11.000000,23.260000,NaN,21.400000,4.860000
2017-07-26,13.38,NaN,NaN,NaN,13.630000,NaN,10.740000,23.420000,NaN,21.420000,4.940000
2017-07-27,13.38,NaN,NaN,NaN,13.640000,NaN,10.590000,23.000000,NaN,22.540000,4.950000
2017-07-28,13.47,NaN,NaN,NaN,13.500000,NaN,10.740000,23.630000,NaN,22.130000,4.930000
2017-07-31,13.36,NaN,NaN,NaN,13.510000,NaN,10.670000,23.370000,NaN,22.310000,4.940000