In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

import base
# my private modules
import fund_scanner.common_tools.database as db

In [3]:
# c支基金有最新信息了
# 3071
df = pd.read_sql('select count(*) as c from funds_update', c)
df

      c
0  5262

In [4]:
# c支基金有历史数据了
# 2081
df = pd.read_sql('select count(*) as c from (select distinct funds_id from funds_historical_price) a', c)
df

      c
0  5312